* {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#screen {
  padding-top: 10vh;
  cursor: pointer;
  margin: 5vh auto;
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #dedce0;
}

.go {
  background-color: #54b435;
  color: aliceblue;
}

.ready {
  background-color: #cf0a0a;
  color: white;
}

.waiting {
  background-color: #5da7db;
  color: white;
}
