* {
  text-align: center;
  font-family: "Jua", sans-serif;
}

#screen {
  padding-top: 10vh;
  cursor: pointer;
  margin: 5vh auto;
  width: 80vw;
  height: 50vh;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #dedce0;
}

.go {
  background-color: #8dc32f;
  font-size: 6vw;
  color: aliceblue;
}
.ready {
  background-color: #f4fcd9;
  font-size: 6vw;
}
.waiting {
  background-color: #f4fcd9;
  font-size: 6vw;
}

.introduce {
  background-color: rgb(188, 231, 217);
  width: 80vw;
  margin: auto;
  padding: 1vw;
}

.mainfontsize {
  font-size: 4vw;
}
.mainfontsize1 {
  font-size: 5vw;
}
